@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>
@Html.Hidden("id",(int)ViewBag.EmployeeID)
@using (Html.BeginForm("UploadImage", "Employee", FormMethod.Post, 
                            new { enctype = "multipart/form-data" }))
{  
    <label for="file">Upload Image:</label> 
    <input type="file" name="file" id="file" style="width: 100%;" /> 
    <input type="submit" value="Upload" class="submit" /> 
}